/* игра 4 */
.game_4 {
  display: none;
  margin: 0 auto;
  height: 100vh;
  width: 133vh;
  position: absolute;
}
.home_4 {
  z-index: 4;
  position: absolute;
  height: 8vh;
  width: 8vh;
  top: 88vh;
  left: 118vh;
}
.game_4_intro {
  z-index: 1;
  margin: 0 auto;
  height: 100vh;
  width: 133vh;
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../images/game_4_intro.svg');
}
.game_4_first_screen {
  display: none;
  z-index: 2;
  margin: 0 auto;
  height: 100vh;
  width: 133vh;
  position: absolute;
  background: white;
}

.bottle_all {
  position: absolute;
  height: 55vh;
  width: 40vh;
  top: 12vh;
  left: 84vh;
}
.bottle_first {
  position: absolute;
  background: white;
  height: inherit;
  width: inherit;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../images/bottle_first.png');
}
.bottle_bit {
  position: absolute;
  height: inherit;
  width: inherit;
  background: white;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../images/bottle_bit.png');
}
.bottle_fire {
  position: absolute;
  height: inherit;
  width: inherit;
  background: white;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../images/bottle_fire.png');
}
.bottle_wings {
  position: absolute;
  height: inherit;
  width: inherit;
  background: white;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../images/bottle_wings.png');
}

.none {
  display: none;
}
.mug_all {
  position: absolute;
  height: 51vh;
  width: 42vh;
  top: 14vh;
  left: 2vh;

}
.mug_first {
  background: white;
  position: absolute;
  height: inherit;
  width: inherit;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../images/mug_first.png');
}
.mug_bit {
  background: white;
  position: absolute;
  height: inherit;
  width: inherit;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../images/mug_bit.png');
}
.mug_fire {
  background: white;
  position: absolute;
  height: inherit;
  width: inherit;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../images/mug_fire.png');
}
.mug_wings {
  background: white;
  position: absolute;
  height: inherit;
  width: inherit;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../images/mug_wings.png');
}


.glass_all {
  position: absolute;
  height: 54vh;
  width: 40vh;
  top: 14vh;
  left: 44vh;
}
.glass_first {
  position: absolute;
  background: white;
  height: inherit;
  width: inherit;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../images/glass_first.png');
}
.glass_bit {
  position: absolute;
  background: white;
  height: inherit;
  width: inherit;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../images/glass_bit.png');
}
.glass_fire {
  position: absolute;
  background: white;
  height: inherit;
  width: inherit;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../images/glass_fire.png');
}
.glass_wings {
  position: absolute;
  background: white;
  height: inherit;
  width: inherit;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../images/glass_wings.png');
}

.frame {
  opacity: 1;
  position: absolute;
  height: 23vh;
  width: 60vh;
  top: 70vh;
  left: 44vh;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../images/frame.png');
}
.fire_icon {
  opacity: 1;
  position: absolute;
  height: 12vh;
  width: 10vh;
  top: 6vh;
  left: 4.3vh;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../images/fire_icon.png');
}
.mouth_icon {
  opacity: 1;
  position: absolute;
  height: 13vh;
  width: 11vh;
  top: 5vh;
  left: 13vh;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../images/mouth_icon.png');
}
.wings_icon {
  opacity: 1;
  position: absolute;
  height: 12vh;
  width: 23vh;
  top: 6vh;
  left: 24vh;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../images/wings_icon.png');
}

.game_4_final {
  opacity: 0;
  position: absolute;
  height: 11vh;
  width: 77vh;
  top: 77vh;
  left: 11vh;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../images/game_4_final.svg');
}
